checkpoints/
Medicinal Plant Leaf Health Original Dataset.zip
Medicinal Plant Leaf Health Original Dataset/
Medicinal Plant Leaf Health Split Dataset/
cvpr project form.pdf
*.zip
Medicinal Plant Leaf Health Augmented  Dataset/
Medicinal Plant Leaf Health FULL Dataset/
Medicinal Plant Leaf Health RANDOM Split Dataset/